.cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

background-variant('.bg-white', #fff)
background-variant('.bg-grey', #f6f6f6)
background-variant('.bg-primary', $color-primary)
background-variant('.bg-secondary', $color-secondary)
background-variant('.bg-error', $color-error)
background-variant('.bg-dark', #111)
