.flex-grow
  flex: 1 1 auto

.flex-nowrap
  flex-wrap: nowrap !important

.flex-column
  flex-direction: column !important

.flex-row
  flex-direction: row !important

.asf-left
  align-self: left !important

.asf-center
  align-self: center !important

.asf-end
  align-self: flex-end !important

.ai-center
  align-items: center

// Justify content
.jc-start
  justify-content: flex-start

.jc-center
  justify-content: center

.jc-end
  justify-content: flex-end

.jc-around
  justify-content: space-around

.jc-between
  justify-content: space-between
