.pos-relative
  position: relative

.float-right
  float: right

.float-left
  float: left

.float-none
  float: none

.pos-absolute-center
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
