.code-inline
  padding: 2.7px 5.4px
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
  color: #d73a49
  font-weight: bold
  background: #ffeaed
  font-size: 80%
  border-radius: 4px
  vertical-align: 5%
