.form-inline
  display: flex
  flex-flow: row wrap
  align-items: center

.form-group-error
  label
    color: $color-error !important

  .input
    border-color: $color-error !important
    background-color: rgba($color-error, .1) !important
