.input-group
  position: relative
  display: flex
  flex-wrap: wrap // For form validation feedback
  align-items: stretch
  width: 100%

  > .input,
  > .custom-select,
  > .custom-file
    position: relative // For focus state's z-index
    flex: 1 1 auto
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%
    margin-bottom: 0

    + .input,
    + .custom-select,
    + .custom-file
      margin-left: ($form-input-border-width * -1)

  // Bring the "active" form control to the top of surrounding elements
  > .input:focus,
  > .custom-select:focus,
  > .custom-file .custom-file-input:focus ~ .custom-file-label
    z-index: 3

  > .input,
  > .custom-select
    &:not(:last-child)
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    &:not(:first-child)
      border-top-left-radius: 0
      border-bottom-left-radius: 0

  // Custom file inputs have more complex markup, thus requiring different
  // border-radius overrides.
  > .custom-file
    display: flex
    align-items: center

    &:not(:last-child) .custom-file-label,
    &:not(:last-child) .custom-file-label::after
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    &:not(:first-child) .custom-file-label
      border-top-left-radius: 0
      border-bottom-left-radius: 0


// Prepend and append
//
// While it requires one extra layer of HTML for each, dedicated prepend and
// append elements allow us to 1) be less clever, 2) simplify our selectors, and
// 3) support HTML5 form validation.

.input-group-prepend,
.input-group-append
  display: flex

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.input-group-text` since it shares the same border-color
  // as our inputs.
  .btn
    position: relative
    z-index: 2

  .btn + .btn,
  .btn + .input-group-text,
  .input-group-text + .input-group-text,
  .input-group-text + .btn
    margin-left: ($form-input-border-width * -1)

.input-group-prepend
  margin-right: ($form-input-border-width * -1)

.input-group-append
  margin-left: ($form-input-border-width * -1)


// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.

.input-group-text
  display: flex
  align-items: center
  padding: $form-input-padding
  margin-bottom: 0 // Allow use of <label> elements by overriding our default margin-bottom
  font-size: $font-size-base // Match inputs
  font-weight: $font-weight-normal
  color: $text-base
  text-align: center
  white-space: nowrap
  background-color: #f6f6f6
  border: $form-input-border-width solid $form-input-border-color
  border-radius: $form-input-border-radius

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"]
    margin-top: 0

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child)
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child)
  border-top-left-radius: 0
  border-bottom-left-radius: 0
