.input--size-2,
.input-group--2 .input-group-text
  height: 32px
  font-size: .875rem !important

.input--size-1,
.input-group--1 .input-group-text
  height: 28px
  padding: .3rem .4rem
  font-size: 0.8125rem !important

.input--size-3,
.input-group--3 .input-group-text
  height: 42px
  padding: .4072rem .72rem
  font-size: 18px

textarea.input--size-3
  min-height: 42px

.input--size-4,
.input-group--4 .input-group-text
  height: 48px
  padding: .585rem .8rem
  font-size: 20px

.input-dark
  background: #2F2F2F
  border-color: #3E3E3E
  color: #fff

  &:hover
    border-color: #4E4E4E

  &::placeholder
    background: rgba(255, 255, 255, .4)
