.navbar-toggler
  padding: .55rem .4rem
  height: 36px

.navbar-dark
  .navbar-brand
    color: white

    &:hover,
    &:focus
      color: white

.navbar-dark .navbar-nav,
.nav-dark
  .nav-link
    color: rgba(white, .8)

    &:hover,
    &:focus
      color: rgba(white, .9)

    &.disabled
      color: rgba(white, .25)

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active
    color: white

.navbar-toggler
  background: none
  color: rgba(white, .5)
  border-color: rgba(white, .1)

.navbar-text
  color: rgba(white, .5)

  a
    color: white

    &:hover,
    &:focus
      color: white


.navbar-light
  .navbar-brand
    color: rgba(black, .9)

    &:hover,
    &:focus
      color: rgba(black, .9);

  .navbar-nav
    .nav-link
      color: rgba(black, .6)

      &:hover,
      &:focus
        color: rgba(black, .8)

      &.disabled
        color: rgba(black, .3)

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active
      color: rgba(black, .9)

  .navbar-toggler
    color: rgba(black, .5)
    border-color: rgba(black, .25)

  .navbar-text
    color: rgba(black, .5)
    a
      color: rgba(black, .9)

      &:hover,
      &:focus
        color: rgba(black, .9)
