// Primary colors
$color-primary = #0069FF
$color-primary-dark = darken($color-primary, 15%)
$color-secondary = #e36209
$color-editor = #34e79a
$color-muted = #7E828B
$color-muted-dark = #5A606E

// Spacing
$spacer = 1rem
$spacers = {
  '0': 0,
  '1': ($spacer * .25),
  '2': ($spacer * .5),
  '3': $spacer,
  '4': ($spacer * 1.5),
  '5': ($spacer * 3)
}

// Alternative colors
$color-info = #0070E0
$color-success = #3ba950
$color-warning = #ff5252
$color-error = #ff5252

// Text colors
$text-base = #343435
$text-anchor = $color-primary

// Body
$body-bg = #fff
$body-color = $text-base

// Fonts
$font-size-base = 1rem
$font-weight-base = normal
$font-line-height-base = 1.5
$font-family-base = Roboto, Helvetica, Arial, sans-serif
$line-height-base = 1.5

$font-size-small = .875rem
$font-size-medium = 1.125rem
$font-size-large = 1.25rem

$paragraph-margin-bottom = 1rem

$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = 1rem

$headings-margin-bottom = ($spacer / 2)
$headings-font-family =   inherit
$headings-font-weight =   bold
$headings-line-height =   1.2
$headings-color =         inherit


$display-default-weight = 300

$lead-font-size =   1.25rem
$lead-font-weight = 300


// Font weight
$font-weight-light = 300
$font-weight-normal = normal
$font-weight-medium = 500
$font-weight-bold = bold


// Link
$link-color = #0288F6
$link-decoration = none
$link-hover-color = darken($link-color, 15%)
$link-hover-decoration = underline

// Utils
$border-radius = 3px
$border-width = 1px

// Blocks
$blocks = {
  '0': 0,
  '1': .5rem,
  '2': .75rem,
  '3': 1rem,
  '4': 1.25rem,
  '5': 2rem
}

$blockquote-small-color =  #868e96
$blockquote-font-size =    ($font-size-base * 1.25)

$mark-padding = .2em
$mark-bg = #fcf8e3

$list-inline-padding = 5px

$hr-border-color = rgba(#000,.1)
$hr-border-width = $border-width

// Tables
$table-cell-padding = .75rem
$table-cell-padding-sm = .3rem

// Components
$toolbar-height = 56px

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints = {
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
}
$navbar-breakpoints = {
  'xs': 0,
  'lg': 768px
}


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths = {
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1280px
}


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns =  12
$grid-gutter-width = 20px

// Button
$btn-padding-y = .5rem
$btn-padding-x = .75rem
$btn-line-height = 1.15

$btn-padding-y-sm = .25rem
$btn-padding-x-sm = .5rem
$btn-line-height-sm = 1.5

$btn-padding-y-lg = .5rem
$btn-padding-x-lg = 1rem
$btn-line-height-lg = 1.5
$btn-border-width = 1px

$btn-border-radius = $border-radius
$btn-font-weight = $font-weight-medium


$btn-link-disabled-color = #999
$btn-block-spacing-y = .5rem



// Form
$form-input-bg = #fff
$form-input-border-width = 1px
$form-input-padding = .313rem 0.5rem
$form-input-highlight = #3367d6
$form-input-border-color = #ccc
$form-input-border-radius = 3px
$form-check-color = #0099fe
